<div id="shopify-block-15683396631634586217" class="shopify-block shopify-app-block">
<script
  id="chat-button-container"
  data-horizontal-position=bottom_right
  data-vertical-position=lowest
  data-icon=chat_bubble
  data-text=chat_with_us
  data-color=#c4996c
  data-secondary-color=#FFFFFF
  data-ternary-color=#6A6A6A
  data-domain=celmade.shop
  data-external-identifier=xGV60MiJDUXq-KghUOhezmhVaJ2J7VmJaeiicgwqcdM>
</script>
</div>